.homeContainer {
  display: flex;
  height: calc(100vh - 100px);
  margin: 10px auto;
  width: 90%;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.sidebar {
  width: 30px;
  height: 100%;
  background-color: rgb(96, 92, 87);
  padding: 5px;
  overflow: auto;
  text-align: center;
}

.icon {
  padding: 2px 0;
  
}

.icon:hover {
  cursor: pointer;
}
.navbar {
  flex: 0.3;
  margin: 0 5px;
}

.content {
  flex: 0.6;
}
.sidebarContainer {
  display: flex;
  height: calc(100% - 20px);
  padding: 10px 0;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  color: white;
}