.cardContainer {
  width: 80%;
  margin: 20px auto;
}
.card {
  max-height: 600px;
  overflow: auto;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #f3f3f3;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}


.cardHeading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: grey;
  padding: 5px;
  flex-wrap: wrap;
}

.headingContent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
  width: 100px;
}

.headingDetails {
  color: black;
  flex: 0.8;
  min-width: 150px;
  font-size: 12px;
}


.actionContent {
  flex: 0.2;
  justify-content: center;
}
.actionButton {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #3f51b5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actionButton:hover {
  background-color: #303f9f;
}


.cardIcon {
  padding-right: 10px;
  padding-top: 4px;
}

.cardContent {
  flex: 0.8;
  min-width: 300px;
  padding: 5px;
  font-size: 12px;
}

